table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}
th {
  padding: 0.5em 1em;
  color: var(--clr-primary);
  background-color: var(--clr-accent);
  font-weight: bold;
  font-size: clamp(1.1rem, 1.3vw, 1.5rem);
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
td {
  padding: 0.5em;
}

tbody tr {
  background-color: white;
  transition: all 0.1s ease-in;
}

tbody tr:hover {
  background-color: #eddfca;
}
.user-name-contaner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-image {
  --size: 35px;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.user-name {
  display: grid;
  font-size: 1.1rem;
}
.user-name i {
  font-size: 0.7rem;
  color: gray;
}
.btns-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btns-container button {
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
.btns-container button:first-child {
  background-color: rgb(221, 221, 9);
}
.btns-container button:last-child {
  background-color: rgb(211, 16, 16);
  color: white;
}
@media screen and (max-width: 580px) {
  .user-image {
    --size: 25px;
    font-size: 0.7rem;
  }
  .user-name span {
    font-size: 0.9rem;
  }
  .btns-container {
    gap: 5px;
  }
  .btns-container button {
    padding: 0.3em;
  }
}

.overlay {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  z-index: 99;
  display: grid;
  place-items: center;
}
.confirm-delete-container {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  display: grid;
  place-items: center;
  gap: 2em;
}
.confirm-delete-container div {
  display: flex;
  gap: 1em;
}
.confirm-delete-container button {
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.1rem;
}
.confirm-delete-container button:first-child {
  background-color: #f02b21;
  color: white;
}
.confirm-delete-container button:last-child {
  background-color: #19bd27;
  color: white;
}
